promon.com.br/rdscheduler_colab/_comp/FundacPromonFuncionariosStarter.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://promon.com.br/FundacPromonFuncionariosStart/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="FundacPromonFuncionariosStart" targetNamespace="http://promon.com.br/FundacPromonFuncionariosStart/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://promon.com.br/FundacPromonFuncionariosStart/">
      <xsd:element name="StartFuncionarios">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="par" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="StartFuncionariosResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="StartFuncionariosRequest">
    <wsdl:part element="tns:StartFuncionarios" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="FundacPromonFuncionariosStart">
    <wsdl:operation name="StartFuncionarios">
      <wsdl:input message="tns:StartFuncionariosRequest"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FundacPromonFuncionariosStartSOAP" type="tns:FundacPromonFuncionariosStart">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="StartFuncionarios">
      <soap:operation soapAction="http://promon.com.br/FundacPromonFuncionariosStart/StartFuncionarios"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    
  </wsdl:binding>
  <wsdl:service name="FundacPromonFuncionariosStart">
    <wsdl:port binding="tns:FundacPromonFuncionariosStartSOAP" name="FundacPromonFuncionariosStartSOAP">
      <soap:address location="http://br1sap20.br.promonlogicalis.com:50000/bpm/promoncombr/rd/FundacPromonFuncionariosStarter"/>
    </wsdl:port>
  </wsdl:service>
  
  
</wsdl:definitions>
