promon.com.br/rdscheduler_colab/_comp/HorasDiferenciadasStarter.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://promon.com.br/HorasDiferenciadasStart/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HorasDiferenciadasStart" targetNamespace="http://promon.com.br/HorasDiferenciadasStart/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://promon.com.br/HorasDiferenciadasStart/">
			<xsd:element name="StartHorasDiferenciadas">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="num_mes_ref" type="xsd:integer"/>
         <xsd:element name="num_ano_ref" type="xsd:integer"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="StartHorasDiferenciadasResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="StartHorasDiferenciadasRequest">
		<wsdl:part element="tns:StartHorasDiferenciadas" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="StartHorasDiferenciadasResponse">
		<wsdl:part element="tns:StartHorasDiferenciadasResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:portType name="HorasDiferenciadasStart">
		<wsdl:operation name="StartHorasDiferenciadas">
			<wsdl:input message="tns:StartHorasDiferenciadasRequest"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HorasDiferenciadasStartSOAP" type="tns:HorasDiferenciadasStart">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="StartHorasDiferenciadas">
			<soap:operation soapAction="http://promon.com.br/HorasDiferenciadasStart/StartHorasDiferenciadas"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HorasDiferenciadasStart">
		<wsdl:port binding="tns:HorasDiferenciadasStartSOAP" name="HorasDiferenciadasStartSOAP">
			<soap:address location="http://www.example.org/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
