promon.com.br/rdscheduler_colab/_comp/PagtoFolhaStart.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://promon.com.br/PagtoFolhaStart/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PagtoFolhaStart"
	targetNamespace="http://promon.com.br/PagtoFolhaStart/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://promon.com.br/PagtoFolhaStart/">
			<xsd:element name="StartPagtoFolha">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="num_mes_ref" type="xsd:int" />
						<xsd:element name="num_ano_ref" type="xsd:int" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="StartPagtoFolhaResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="StartPagtoFolhaRequest">
		<wsdl:part element="tns:StartPagtoFolha" name="parameters" />
	</wsdl:message>
	<wsdl:message name="StartPagtoFolhaResponse">
		<wsdl:part element="tns:StartPagtoFolhaResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="PagtoFolhaStart">
		<wsdl:operation name="StartPagtoFolha">
			<wsdl:input message="tns:StartPagtoFolhaRequest" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PagtoFolhaStartSOAP" type="tns:PagtoFolhaStart">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="StartPagtoFolha">
			<soap:operation soapAction="http://promon.com.br/EscalasStart/StartPagtoFolha" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PagtoFolhaStart">
		<wsdl:port binding="tns:PagtoFolhaStartSOAP" name="PagtoFolhaStartSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
